h4{
    margin-top: 60px;
    font-weight: bold;
}
h6{
    font-style: italic;
}

.whychoosepizza{
    margin-top: 20px;
    
}
.underline{
    border-bottom: 1px solid; 
    
}
.underline-body{
    border-bottom: 1px inset; 
    margin-top: 20px;
    
}
.border-warning{
    border: 1px solid orange;
    margin-top: 10px;
    padding-top: 20px;
}
p{
    padding-top: 10px;
}
.card-deck{
    margin-top: 20px;
}
h5{
    font-weight: bold;
}
.fontbold{
    font-weight: bold;
}
.card-text{
    padding-top: 5px;
}
.paddingcss{
    margin-top: 20px;
}
.paddingblock{
    margin-top: 55px;
}
.footer{
    background-color: orange;
}
.paddingfooter{
    padding-top: 10px;
}
.confirm-order{
    border: 15px solid grey;
}